[user]
	name = Brodie Rao
	email = brodie@bitheap.org
[alias]
	ci = commit
	dc = diff --cached
	head = show HEAD
	glog = log --decorate --graph --all
	slog = log --pretty=oneline
	st = status
[color]
	ui = auto
[diff]
	renames = copies
