[user]
	name = Brodie Rao
	email = brodie@sf.io
[alias]
	ci = commit
	dc = diff --cached
	st = status
	in = log ..@{upstream}
	out = log @{upstream}..
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[sendemail]
	from = Brodie Rao <brodie@sf.io>
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = brodie@sf.io
	smtpserverport = 587
[push]
	default = simple
